In [131]:
import numpy as np
import pandas as pd
import pickle

In [132]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [133]:
df = df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)

In [134]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [135]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
label_encod_gender = LabelEncoder()
one_hot_encod_geo = OneHotEncoder()
scaler_reg = StandardScaler()

In [136]:
df['Gender'] = label_encod_gender.fit_transform(df['Gender'])
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [137]:
label_encod_gender.classes_

array(['Female', 'Male'], dtype=object)

In [138]:
encoded_geo = one_hot_encod_geo.fit_transform(df[['Geography']]).toarray()

In [139]:
encoded_geo

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], shape=(10000, 3))

In [140]:
one_hot_encod_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [141]:
one_hot_encod_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [142]:
encoded_geo_df = pd.DataFrame(encoded_geo,columns=one_hot_encod_geo.get_feature_names_out(['Geography']))
encoded_geo_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [143]:
df = pd.concat([df.drop(columns=['Geography'],axis=1),encoded_geo_df],axis=1)
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [144]:
X = df.drop(columns=['EstimatedSalary'])
y = df['EstimatedSalary']

In [145]:
X.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 12 columns]

In [146]:
y.head()

0    101348.88
1    112542.58
2    113931.57
3     93826.63
4     79084.10
Name: EstimatedSalary, dtype: float64

In [147]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [148]:
X_train

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
9254          686       1  ...                0.0              0.0
1561          632       1  ...                1.0              0.0
1670          559       1  ...                0.0              1.0
6087          561       0  ...                0.0              0.0
6669          517       1  ...                0.0              0.0
...           ...     ...  ...                ...              ...
5734          768       1  ...                0.0              0.0
5191          682       0  ...                0.0              0.0
5390          735       0  ...                0.0              0.0
860           667       1  ...                0.0              0.0
7270          697       1  ...                1.0              0.0

[8000 rows x 12 columns]

In [149]:
X_test

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
6252          596       1  ...                1.0              0.0
4684          623       1  ...                0.0              0.0
1731          601       0  ...                0.0              1.0
4742          506       1  ...                1.0              0.0
4521          560       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
6412          602       0  ...                1.0              0.0
8285          609       1  ...                0.0              0.0
7853          730       0  ...                0.0              0.0
1095          692       1  ...                0.0              0.0
6929          628       1  ...                1.0              0.0

[2000 rows x 12 columns]

In [150]:
X_train = scaler_reg.fit_transform(X_train)
X_test = scaler_reg.transform(X_test)

In [151]:
with open("reg_label_encoder_gender.pkl",'wb') as file:
    pickle.dump(label_encod_gender,file)

with open("reg_one_hot_encoder_geo.pkl",'wb') as file:
    pickle.dump(one_hot_encod_geo,file)

with open("reg_scaler.pkl",'wb') as file:
    pickle.dump(scaler_reg,file)

## ANN Regression

In [152]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [153]:
(X_train.shape[1],)

(12,)

In [154]:
model_reg = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)            # default activation = linear

])

d:\AI\Projects\DL\ANNproject\myvenv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [155]:
model_reg.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [156]:
model_reg.compile(loss='mean_absolute_error',optimizer='adam',metrics=['mae'])

In [157]:
early_stopping_callbacks = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [158]:
import datetime

logdir = "reglog/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks = TensorBoard(log_dir=logdir,histogram_freq=1)

In [159]:
model_reg.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs = 70,
    callbacks = [early_stopping_callbacks,tensorflow_callbacks]
)

Epoch 1/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100390.1562 - mae: 100390.1562 - val_loss: 98562.9375 - val_mae: 98562.9375
Epoch 2/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99793.0547 - mae: 99793.0547 - val_loss: 97351.8594 - val_mae: 97351.8594
Epoch 3/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97654.1250 - mae: 97654.1250 - val_loss: 94152.2109 - val_mae: 94152.2109
Epoch 4/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93238.6797 - mae: 93238.6797 - val_loss: 88547.9219 - val_mae: 88547.9219
Epoch 5/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 86560.6562 - mae: 86560.6562 - val_loss: 81075.2031 - val_mae: 81075.2031
Epoch 6/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 78318.4609 - mae: 78318.4609 - val_loss: 72748.3125 - val_mae: 72748.3125
Epoch 7/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 69789.8984 - mae: 69789.8984 - val_loss: 64931.5234 - val_mae: 64931.5234
Epoch 8/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 62348.6250 - mae: 62348.6250 - val_loss: 58759.2930 - val_mae: 58759.2930
Epoch 9/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 56824.0234 - mae: 56824.0234 - val_loss: 54633.0859 - val_mae: 54633.0859
Epoch 10/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53402.5117 - mae: 53402.5117 - val_loss: 52391.0273 - val_mae: 52391.0273
Epoch 11/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51641.7109 - mae: 51641.7109 - val_loss: 51354.8086 - val_mae: 51354.8086
Epoch 12/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50800.4453 - mae: 50800.4453 - val_loss: 51011.7305 - val_mae: 51011.7305
Epoch 13/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50441.3477 - mae: 50441.3477 - val_loss: 50881.0508 - val_mae: 50881.0508
Epoch 14/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50272.8164 - mae: 50272.8164 - val_loss: 50814.8789 - val_mae: 50814.8789
Epoch 15/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50183.4258 - mae: 50183.4258 - val_loss: 50757.2227 - val_mae: 50757.2227
Epoch 16/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50119.6758 - mae: 50119.6758 - val_loss: 50712.8008 - val_mae: 50712.8008
Epoch 17/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50069.8086 - mae: 50069.8086 - val_loss: 50670.6172 - val_mae: 50670.6172
Epoch 18/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50029.3906 - mae: 50029.3906 - val_loss: 50639.3945 - val_mae: 50639.3945
Epoch 19/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49987.8008 - mae: 49987.8008 - val_loss: 50614.2891 - val_mae: 50614.2891
Epoch 20/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49954.5078 - mae: 49954.5078 - val_loss: 50588.9492 - val_mae: 50588.9492
Epoch 21/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49922.8555 - mae: 49922.8555 - val_loss: 50570.7266 - val_mae: 50570.7266
Epoch 22/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49896.7461 - mae: 49896.7461 - val_loss: 50551.4883 - val_mae: 50551.4883
Epoch 23/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49872.0703 - mae: 49872.0703 - val_loss: 50530.1797 - val_mae: 50530.1797
Epoch 24/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49846.7695 - mae: 49846.7695 - val_loss: 50509.9219 - val_mae: 50509.9219
Epoch 25/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49826.1836 - mae: 49826.1836 - val_loss: 50496.2617 - val_mae: 50496.2617
Epoch 26/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49803.0156 - mae: 49803.0156 - val_loss: 50472.9883 - val_mae: 50472.9883
Epoch 27/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49787.3555 - mae: 49787.3555 - val_loss: 50462.9336 - val_mae: 50462.9336
Epoch 28/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49765.1992 - mae: 49765.1992 - val_loss: 50450.4531 - val_mae: 50450.4531
Epoch 29/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49748.2773 - mae: 49748.2773 - val_loss: 50445.3203 - val_mae: 50445.3203
Epoch 30/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49732.3555 - mae: 49732.3555 - val_loss: 50437.8242 - val_mae: 50437.8242
Epoch 31/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49714.3359 - mae: 49714.3359 - val_loss: 50419.8203 - val_mae: 50419.8203
Epoch 32/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49701.4570 - mae: 49701.4570 - val_loss: 50408.7617 - val_mae: 50408.7617
Epoch 33/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49688.5312 - mae: 49688.5312 - val_loss: 50394.0859 - val_mae: 50394.0859
Epoch 34/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49670.4570 - mae: 49670.4570 - val_loss: 50397.6250 - val_mae: 50397.6250
Epoch 35/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49656.2383 - mae: 49656.2383 - val_loss: 50384.4023 - val_mae: 50384.4023
Epoch 36/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49645.5195 - mae: 49645.5195 - val_loss: 50371.4102 - val_mae: 50371.4102
Epoch 37/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49632.8906 - mae: 49632.8906 - val_loss: 50371.3438 - val_mae: 50371.3438
Epoch 38/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49618.5039 - mae: 49618.5039 - val_loss: 50358.5703 - val_mae: 50358.5703
Epoch 39/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49606.1094 - mae: 49606.1094 - val_loss: 50363.8672 - val_mae: 50363.8672
Epoch 40/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49598.8867 - mae: 49598.8867 - val_loss: 50350.5312 - val_mae: 50350.5312
Epoch 41/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49590.6250 - mae: 49590.6250 - val_loss: 50350.2344 - val_mae: 50350.2344
Epoch 42/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49580.1211 - mae: 49580.1211 - val_loss: 50354.7617 - val_mae: 50354.7617
Epoch 43/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49570.7109 - mae: 49570.7109 - val_loss: 50343.0000 - val_mae: 50343.0000
Epoch 44/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49566.7578 - mae: 49566.7578 - val_loss: 50339.4922 - val_mae: 50339.4922
Epoch 45/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49560.6289 - mae: 49560.6289 - val_loss: 50347.8633 - val_mae: 50347.8633
Epoch 46/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49550.9492 - mae: 49550.9492 - val_loss: 50340.2148 - val_mae: 50340.2148
Epoch 47/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49540.1719 - mae: 49540.1719 - val_loss: 50339.7148 - val_mae: 50339.7148
Epoch 48/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49534.0195 - mae: 49534.0195 - val_loss: 50348.6289 - val_mae: 50348.6289
Epoch 49/70
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49527.9570 - mae: 49527.9570 - val_loss: 50349.7188 - val_mae: 50349.7188

In [160]:
model_reg.save("model_reg.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [161]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [162]:
%tensorboard --logdir reglog/fit20250828-112508

Reusing TensorBoard on port 6006 (pid 19416), started 0:21:42 ago. (Use '!kill 19416' to kill it.)